<div class="card">
		<div class="card-header card-header-text" data-background-color="#213">
			<h4 class="card-title"><b>Overview</b></h4>
		</div>
		<div class="card-content">
			<div class="row">
				<label class="col-sm-2"><b>Name</b></label>
				<p><b>{{name}}</b></p>
			</div>
			<div class="row">
				<label class="col-sm-2"><b>Registration Number</b></label>
				<p><b>{{registrationNumber}}</b></p>
			</div>
			<div class="row">
				<label class="col-sm-2"><b>Program</b></label>
				<p><b>{{program}}</b></p>
			</div>
			<div class="row">
				<label class="col-sm-2"><b>Department</b></label>
				<p><b>{{department}}</b></p>
			</div>
			<div class="row">
				<label class="col-sm-2"><b>Semester</b></label>
				<p><b>{{semester}}</b></p>
			</div>
		</div>
	</div>
	</div>
	</div>
</div>